body {
  background-color:#463a3a; /* Set the background color you prefer */
  color:aliceblue; /* Text color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.disabled {
  opacity: 0.5; /* Adjust the opacity to visually indicate that the button is disabled */
  pointer-events: none; /* Prevent clicks on the button when disabled */
}

.app {
  text-align: center;
  padding: 20px;
}

.mic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mic-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.listening {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.response-container {
  margin-top: 20px;
}

.response-container.animate .response {
  animation: siri-animation 1.5s ease-in-out;
}

@keyframes siri-animation {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

.response {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}
